header{
    background-color: blue;
    height: 100px;
    margin: 10px 0px;
    width: 100%
}
.container{
    max-width: 1700px;
    width: 100%;
    margin: auto
}
.box{
    display: flex;
    justify-content: space-between;
}
img{
width: 100px;
height: 100px;
margin-left: 50px;
margin-bottom: 20px;
}
a{
    color: white;
}
header ul{
    display: flex;
}
a{ 
    margin: 60px;
}
.contact {
    padding: 7px;
    background-color: white ;
    color: black;
    border-radius: 10px;
}
.lurji{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    
}
.rgolebi{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:dimgrey;
    margin-left: 10px;
}
.title{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 50px 20px;
}
.rgolerbis{
    display: flex;
    margin-top: 20px;
}